# deps
**/node_modules/
**/.pnpm/

# build
**/.next/
**/dist/
**/.mastra/
.mastra/
node_modules

# env
*.env
*.env.*
**/*.env
**/*.env.*

# misc
.DS_Store

# local db files
data/*.db
data/*.db-shm
data/*.db-wal
